parameters:
	ignoreErrors:
		- '#Parameter \#1 \$it of function iterator_to_array expects Traversable, iterable given.#'
	ergebnis:
		classesAllowedToBeExtended:
			- Mammatus\LifeCycleEvents\Promise\AbstractPromise
			- Mammatus\Tests\LifeCycleEvents\Promise\AbstractPromiseTest

includes:
	- vendor/wyrihaximus/phpstan-rules-wrapper/wrapper.neon
