parameters:
	excludePaths:
		- ../../src/Generated/*
	ignoreErrors:
		-
			message: '#Strict comparison using === between class-string\<Mammatus\\Contracts\\Bootable\<T of Mammatus\\Contracts\\Argv \(class Mammatus\\Boot, argument\)\>\> and#'
			path: ../../src/Boot.php
		-
			message: '#In method \"Mammatus\\Boot::boot\", caught \"Throwable\" must be rethrown.#'
			path: ../../src/Boot.php

	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- Psr\Log\AbstractLogger
includes:
	- ../../vendor/wyrihaximus/test-utilities/rules.neon
